<!--
  Student Name : Manal Magdy Eid Khalil Eid
  Student ID : B1901825
-->
<style>
  .ng-star-inserted{
    text-align: center;
  }

button.btn-primary{
    background-color: #2EB85C;
  }
</style>
<div class="p-4">
  <div class="container">
<h1 id="reqTitle">Available Requests</h1>
<h3 *ngIf="countRequests() == 0" id="reqErrMsg" class="space">No requests have been made yet!</h3>
<div *ngFor="let department of departments">
<c-accordion *ngIf="countNewRequests(department.departmentID) != 0">
    <c-accordion-item style="margin: 1rem 0;" #item0="cAccordionItem" [visible]="false">
      <ng-template cTemplateId="accordionHeaderTemplate">
        <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton>
          <div class="stats">
            <h5 style="margin: 0 1rem;"><c-badge color="dark">Department ID: {{ department.departmentID }}</c-badge></h5>
          <h5 style="margin: 0 5rem"><c-badge color="dark">Department Name: {{ department.name }}</c-badge></h5>
          <h5 style="margin: 0 3rem">
            <c-badge *ngIf="countNewRequests(department.departmentID) == 0" color="light"
            shape="rounded-pill">{{ countNewRequests(department.departmentID) }}</c-badge>
            <c-badge *ngIf="countNewRequests(department.departmentID) > 0" color="success"
              shape="rounded-pill">{{ countNewRequests(department.departmentID) }}</c-badge>
          </h5>
          </div>
        </button>
      </ng-template>
      <ng-template cTemplateId="accordionBodyTemplate">
        <div class="accordion-body" style="padding: 0;">
          <table
          [hover]="false"
          [responsive]="true"
          [striped]="false"
          cAlign="middle"
          cTable
          class="mb-0"
        >
                    <thead >
                      <tr>
                        <th scope="col" style="width: 15%">Request ID</th>
                        <th scope="col" style="width: 15%">EmployeeID</th>
                        <th scope="col" style="width: 15%">Date</th>
                        <th scope="col" style="width: 15%">Description</th>
                        <th scope="col" style="width: 15%">Work Type</th>
                        <th scope="col" style="width: 15%">Reason</th>
                        <th scope="col" style="width: 15%">Status</th>
                        <th scope="col" style="width: 15%">Action</th>
                      </tr>
                      </thead>
                      <tbody>
                        <td colSpan="7" *ngIf="department.requests.length == 0">
                          <h5 style="margin: 0.5rem; text-align: center;" >There is no requests for this department!</h5>
                        </td>

                    <tr *ngFor="let request of department.requests" >
                      <ng-container *ngIf="request.status !='CLOSED'">
                        <td>{{request.requestID}}</td>
                        <td *ngFor="let emp of department.employees">{{emp.username}}</td>
                        <td>{{request.date | date:"mediumDate"}}</td>
                        <td>{{request.description}}</td>
                        <td>{{request.workType}}</td>
                        <td>{{request.reason}}</td>

                        <td>
                          <c-badge *ngIf="request.status == 'NEW'" color="warning" >PENDING</c-badge>
                            <c-badge *ngIf="request.status == 'CLOSED'" color="danger">{{request.status}}</c-badge>
                        </td>
                        <td>
                          <c-badge style="cursor : pointer; padding: 10px"  color="success" [cModalToggle]="scrollableLongContentModal.id"
                          (click)="setID(department.departmentID, request.requestID)">Accept</c-badge>
                          <c-badge style="cursor : pointer; padding: 5px 12px"  color="danger" [cModalToggle]="scrollableLongContentModal.id"
                          (click)="setID(department.departmentID, request.requestID)"> Reject</c-badge>
                        </td>
                  </ng-container >
                  </tr>

                </tbody>
                </table>
        </div>
      </ng-template>
    </c-accordion-item>
  </c-accordion>


</div>

<div *ngIf="user?.role === 'HRAdmin'" style="margin-top: 4.2rem;">
<h1 id="reqTitle">Past Requests</h1>
<h3 *ngIf="countPastRequests() == 0" id="reqErrMsg" class="space">No requests have been made yet!</h3>
<div *ngFor="let department of departments">
  <c-accordion *ngIf="countClosedRequests(department.departmentID) != 0">
      <c-accordion-item style="margin: 1rem 0;" #item0="cAccordionItem" [visible]="false">
        <ng-template cTemplateId="accordionHeaderTemplate">
          <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton>
            <div class="stats">
              <h5 style="margin: 0 1rem;"><c-badge color="dark">ID: {{ department.departmentID }}</c-badge></h5>
            <h5 style="margin: 0 1rem"><c-badge color="dark">Name: {{ department.name }}</c-badge></h5>

            <h5 style="margin: 0 1rem">
              <c-badge *ngIf="countClosedRequests(department.departmentID) == 0" color="light" shape="rounded-pill">{{ countClosedRequests(department.departmentID) }}</c-badge>
              <c-badge *ngIf="countClosedRequests(department.departmentID) > 0" color="success" shape="rounded-pill">{{ countClosedRequests(department.departmentID) }}</c-badge>
            </h5>
            </div>
          </button>
        </ng-template>
        <ng-template cTemplateId="accordionBodyTemplate">
          <div class="accordion-body" style="padding: 0;">
            <table
            [hover]="false"
            [responsive]="true"
            [striped]="false"
            cAlign="middle"
            cTable
            class="mb-0"
          >
                      <thead >
                        <tr>
                          <th scope="col" style="width: 10%">Request ID</th>
                          <th scope="col" style="width: 20%">Description</th>
                          <th scope="col" style="width: 10%">reason</th>
                          <th scope="col" style="width: 15%">Status</th>
                          <th scope="col" style="width: 15%">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                          <td colSpan="7" *ngIf="department.requests.length == 0">
                            <h5 style="margin: 0.5rem; text-align: center;" >There is no requests for this department!</h5>
                          </td>

                      <tr *ngFor="let request of department.requests" >
                        <ng-container >
                          <td>{{request.requestID}}</td>
                          <td>{{request.description}}</td>
                          <td>{{request.reason}}</td>
                          <td>
                            <c-badge *ngIf="request.status == 'NEW'" color="success">{{request.status}}</c-badge>
                            <c-badge *ngIf="request.status == 'CLOSED'" color="danger">{{request.status}}</c-badge>
                          </td>
                          <td><button [cModalToggle]="scrollableLongContentModal.id" class="btn btn-sm btn-primary mr-1" cButton (click)="setID(department.departmentID, request.requestID)"><img width="18px" src="../../assets/hand-svgrepo-com.svg" alt="arrow" loading="lazy">Review</button></td>
                    </ng-container >
                    </tr>

                  </tbody>
                  </table>
          </div>
        </ng-template>
      </c-accordion-item>
    </c-accordion>
  </div>
  </div>

  <c-modal #scrollableLongContentModal id="scrollableLongContentModal" alignment="center" scrollable>
  <c-modal-header>
    <h5 cModalTitle>Remarks</h5>
    <button [cModalToggle]="scrollableLongContentModal.id" cButtonClose></button>
  </c-modal-header>
  <form cForm [formGroup]="form" (ngSubmit)="onSubmit()">
  <c-modal-body>
    <ng-container>
      <div class="form-group col">
        <label for="remarks">Remarks</label>
        <input type="text" formControlName="remarks" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }" />
        <div *ngIf="submitted && f.remarks.errors" class="invalid-feedback">
            <div *ngIf="f.remarks.errors.required">Remarks is required</div>
        </div>
    </div>
    </ng-container>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="scrollableLongContentModal.id" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" type="submit">Save changes</button>
  </c-modal-footer>
</form>
</c-modal>

</div>
</div>
